h3{
  font-size:25pt;
  text-align:center;
}
h2{
  font-size:15pt;
  text-align:center;
}
.green_text{
  color:LimeGreen;
  font-size:15pt;
  text-align:center;
}
.red_text{
  color:red;
  font-size:20pt;
  text-align:center;
}
.blue_text{
  color:SkyBlue;
  font-size:20pt;
  text-align:center;
}